.va-modal {
    z-index: 99 !important;
}

.va-modal__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em
}

.modal .image-section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: .5em 0;
    gap: 1em
}

.modal .image-section .close-icon {
    position: absolute;
    top: -1em;
    right: -1em;
}

.modal .v-input .v-input__control {
    color: black !important;
}

.modal .v-input .v-label {
    color: black;
}