.spaces-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
    margin: 2em 0;
}

.spaces-container h1 {
    color: white;
    text-align: center;
}

.spaces-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    gap: 1em;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em;
}

.arrow-spaces-view-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.v-card-title {
    color: white;
}

.v-card-subtitle, .arrow-icon-space-card, .v-card-text, .v-divider {
    color: white;
}