.container-space-view {
    font-family: 'Roboto', serif;
    width: 100%;
}

.top-space-container {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1em 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em
}

.space-info-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% calc(75% - 1em);
    gap: 1em;
}

.image-space-container {
    background-color: #262626;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.image-space-container div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-space-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.top-space-container .button-section {
    display: flex;
    flex-direction: row;
    gap: .4em;
    margin-top: .8em;
    align-items: flex-end;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.content-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.content-top-section h2 {
    color: #b9b9b9;
    font-weight: 400;
}

.text-top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.link-number-of-user {
    color: cadetblue;
    cursor: pointer;
    text-decoration: none;
}

.link-number-of-user:hover {
    text-decoration: underline;
}

.post-container-space {
    width: 50%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post-container-space h2 {
    color: white;
    text-align: center;
}

.space-description {
    color: white;
    font-size: 20px;
}

.space-description-container {
    background-color: #262626;
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    color: white;
    position: relative;
}

.space-description-container h2 {
    background-color: #262626;
    top: -.8em;
    position: absolute;
    padding: 0 .4em;
}